.module-header {
	position: relative;

	&-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		background-size: cover;
		background-position: 50% 50%;
	}
	&-text {
		@extend .row;
		position: relative;
		z-index: 2;

		.inside {
			@extend .columns;
		}
	}
	&.has-image .module-header-text {
		padding-top: 3em;
		padding-bottom: 3em;
	}

}