/*——————————————————————————————————————————————————————————————————————————————
/  Global Header
——————————————————————————————————————————————————————————————————————————————*/
.masthead {
	$module-prefix: '.masthead';

	line-height: 1;

	/*——————————————————————————————————————————
	/  Row-Support > Masthead
	——————————————————————————————————————————*/
	&__row-support {

	}
	/*——————————————————————————————————————————
	/  Nav-Secondary > Row-Support
	——————————————————————————————————————————*/
	&__nav-secondary {

	}
	/*——————————————————————————————————————————
	/  Nav-Social > Row-Support
	——————————————————————————————————————————*/
	&__nav-social {

	}
	/*——————————————————————————————————————————
	/  Search > Row-Support
	——————————————————————————————————————————*/
	&__search {

	}
	/*——————————————————————————————————————————
	/  Row-Primary > Masthead
	——————————————————————————————————————————*/
	&__row-primary {

	}
	/*——————————————————————————————————————————
	/  Logo > Row-Primary
	——————————————————————————————————————————*/
	&__logo {
		position: relative; // For the absolute-positioned Logo-Link
	}
	/*——————————————————————————————————————————
	/  Logo-Title > Logo
	——————————————————————————————————————————*/
	&__logo-title {
		// Hidden using "show-for-sr" class.
	}
	/*——————————————————————————————————————————
	/  Logo-Mark > Logo
	——————————————————————————————————————————*/
	&__logo-mark {
		text-align: center;

		svg {
			display: inline-block;
			height: 1em;
			fill: currentColor;
		}
	}
	/*——————————————————————————————————————————
	/  Logo-Link > Logo
	——————————————————————————————————————————*/
	&__logo-link {
		@include scut-absolute(0 0 0 0);
		display: block;
		width: 100%;
		height: 100%;
	}
	/*——————————————————————————————————————————
	/  Logo-Print > Logo
	——————————————————————————————————————————*/
	&__logo-print {
		// Uses "show-block-for-print" to show on print.
	}
	/*——————————————————————————————————————————
	/  Navs-Toggle > Row-Primary
	——————————————————————————————————————————*/
	&__navs-toggle {

	}
	/*——————————————————————————————————————————
	/  NAvs > Row-Primary
	——————————————————————————————————————————*/
	&__navs {

	}
	/*——————————————————————————————————————————
	/  Nav-Primary > Navs
	——————————————————————————————————————————*/
	&__nav-primary {

	}
}