/*——————————————————————————————————————————————————————————————————————————————
/  SUBNAV
——————————————————————————————————————————————————————————————————————————————*/
.subnav {
	$module-prefix: '.subnav';

	&__list {
		list-style: none;
	}
	&__item {

	}
	&__link {
		display: block;
	}
}
