/*——————————————————————————————————————————————————————————————————————————————
/  DEFAULT LAYOUT STYLES
——————————————————————————————————————————————————————————————————————————————
Can be applied across ANY layout on the site. A class is included so that we can remove it if necessary.
*/
.layout-default {
	$module-prefix: '.layout-default';

	.webpage {
		max-width: scut-rem($site-width);
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		background-color: #ffffff;

		&-column {
			@include site_margin();
		}
	}
}