/*——————————————————————————————————————————————————————————————————————————————
/  BUTTON STYLES
——————————————————————————————————————————————————————————————————————————————*/
.btn {
	@extend %f_sans;
	@include scut-vcenter-ib();
	display: inline-block;
	line-height: 1ex;
	font-weight: $fw-sans-medium;
	border-radius: 5em;
	border: none;
	text-align: center;
	white-space: nowrap;

	.text,
	.icon {
		display: inline-block;
		vertical-align: middle;
	}
	.icon {
		font-size: 1.5em;

		&-ios-arrow-right {
			margin-right: -.25em;
			margin-left: .5em;
		}
	}
}

@mixin btn($size: medium, $colors:()) {
	@extend .btn;

	@if (map_has_key($colors, color)) {
		color: map_get($colors, color);
	}

	@if (map_has_key($colors, color-hover)) {
		&:hover {
			color: map_get($colors, color-hover);
		}
	}

	@if (map_has_key($colors, background)) {
		background: map_get($colors, background);
	}

	@if (map_has_key($colors, background-hover)) {
		&:hover {
			background: map_get($colors, background-hover);
		}
	}

	@if (map_has_key($colors, border)) {
		border: 1px solid map_get($colors, border);
	}

	@if (map_has_key($colors, border-hover)) {
		&:hover {
			border: 1px solid map_get($colors, border-hover);
		}
	}

	@if (small == $size) {
		font-size: scut-em(16);
		height: scut-em(31, 16);
		padding-left: scut-em(15, 16);
		padding-right: scut-em(15, 16);
	}

	@if (medium == $size) {
		font-size: scut-em(18);
		height: scut-em(40, 18);
		padding-left: scut-em(20, 18);
		padding-right: scut-em(20, 18);
	}
}


%btnSmallBlueWhite {
	@include btn(small, (background:#58BCDD, color:#fff, background-hover:$blue-light));
}
%btnMediumYellowLight {
	@include btn(medium, (background:$yellow, color:#fff, background-hover:$purple-medium, color-hover:#fff));
}
%btnMediumYellowLightToBluePurple {
	@include btn(medium, (background:$yellow, color:#fff, background-hover:$blue-purple, color-hover:#fff));
}
%btnMediumYellowDark {
	@include btn(medium, (background:$yellow, color:#123055, background-hover:$blue-light));
}
%btnMediumWhiteMint {
	@include btn(medium, (background:#fff, color:$mint, background-hover:$mint-light, color-hover:$mint-dark));
}
%btnMediumGreenPurple {
	@include btn(medium, (background:#59C688, color:#210d49));
}
%btnMediumGreenWhite {
	@include btn(medium, (background:#5AC788, color:#ffffff, background-hover:$mint-dark));
}

.btn {
	// Add styles to here only after we figure out which button styles we want to make accessible through the Editor

	&--isSmallBlueWhite {
		@extend %btnSmallBlueWhite;
	}
	&--isMediumYellowLight {
		@extend %btnMediumYellowLight;
	}
	&--isMediumYellowDark {
		@extend %btnMediumYellowDark;
	}
	&--isMediumWhiteMint {
		@extend %btnMediumWhiteMint;
	}
	&--isMediumGreenPurple {
		@extend %btnMediumGreenPurple;
	}
	&--isMediumGreenWhite {
		@extend %btnMediumGreenWhite;
	}
}
