/*——————————————————————————————————————————————————————————————————————————————
/  FORM STYLES
——————————————————————————————————————————————————————————————————————————————*/

$input-background: #F9FBFD;
$input-border: 1px solid #E3E7EA;
$input-padding: .5em;
$input-border-radius: 1px;

/*——————————————————————————————————————————————————————————
/  Labels
——————————————————————————————————————————————————————————*/
@mixin label_styles() {
	display: block;
	font-size: scut-em(15);
	line-height: scut-em(18, 15);
	font-weight: $fw-serif-normal;
	margin-bottom: .5em;
}

label {
	@include label_styles();
}

/*——————————————————————————————————————————————————————————
/  Inputs
——————————————————————————————————————————————————————————*/
@mixin input_styles() {
	font-family: $f-sans-stack;
	padding: $input-padding;
	background-color: $input-background;
	border: $input-border;
	box-shadow: none;
	color: #000000;
	@if (0 != $input-border-radius) {
		border-radius: $input-border-radius;
	}

	&:focus {
		outline: none;
	}
}

@mixin text_input_styles() {
	width: 100%;
}

input {
	@include input_styles();
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	@include text_input_styles();
}

/*——————————————————————————————————————————————————————————
/  Textarea
——————————————————————————————————————————————————————————*/
textarea {
	@include input_styles();
	@include text_input_styles();
}

/*——————————————————————————————————————————————————————————
/  Select Boxes
——————————————————————————————————————————————————————————*/
@mixin select_styles($styles:all) {

	@if $styles == 'all' or $styles == 'base' {
		@include text_input_styles();
		display: block;
		position: relative;
		background-color: $input-background;
		border: $input-border;
		@if (0 != $input-border-radius) {
			border-radius: $input-border-radius;
		}
	}

	@if $styles == 'all' or $styles == 'after' {

		&:after {
			display: block;
			content: " ";
			background-image: url(#{$img_path}/icons/SVG/caret-down-blue.svg);
			width: 8px;
			height: 5px;
			position: absolute;
			top: 50%;
			right: 1em;
			margin-top: -1px;
			z-index: 2;
			/* These hacks make the select behind the arrow clickable in some browsers */
			pointer-events: none;
		}
	}

	@if $styles == 'all' or $styles == 'select' {

		select {
			width: 100%;
			margin: 0;
			outline: none;
			padding: $input-padding scut-em(32, 16) $input-padding $input-padding;
			color: #9b9b9b;

			/* Prefixed box-sizing rules necessary for older browsers */
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			/* Font size must be 16px to prevent iOS page zoom on focus */
			font-size: 16px;

			/* inside @supports so that iOS <= 8 display the native arrow */
			background: none; /* Match-04 */
			/* inside @supports so that Android <= 4.3 display the native arrow */
			border: 1px solid transparent; /* Match-05 */

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			&:focus {
				//border-color: #aaa; /* Match-03 */
			}
		}
	}
}

.select-wrapper {
	@include select_styles();
}

/*——————————————————————————————————————————————————————————
/  Submit Button Styles
——————————————————————————————————————————————————————————*/
@mixin submit_styles() {
	@extend %btnMediumYellowLight;
	border: none;
}

.btn--isSubmit {
	@include submit_styles();
}
