/*——————————————————————————————————————————————————————————————————————————————
/  HEADER STYLES
——————————————————————————————————————————————————————————————————————————————*/
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1;
}

@mixin header( $settings:() ) {
	$defaults: (
		'include_font_size': false,
		'include_line_height':false,
	);
	$args: map_merge($defaults, $settings);

	$tag: map_get($args, tag);
	$font: map_get($args, font);
	$weight: map_get($args, weight);
	$color: map_get($args, color);
	$include_font_size: map_get($args, include_font_size);

	@extend #{$font};
	font-weight: $weight;
	color: $color;

	@if (true == $include_font_size) {
		@include set_responsive_font_sizes_and_line_heights_by_tag($tag, map_get($args, include_line_height));
	}
}

@mixin h1( $settings:() ) {
	$defaults: (
		'tag': h1,
		'font': '%f_serif',
		'weight': $fw-serif-normal,
		'color': $blue-dark,
	);
	$args: map_merge($defaults, $settings);

	@include header($args);
}

@mixin h2( $settings:() ) {
	$defaults: (
		'tag': h2,
		'font': '%f_serif',
		'weight': $fw-serif-normal,
		'color': $purple-medium,
	);
	$args: map_merge($defaults, $settings);

	@include header($args);
}

@mixin h3( $settings:() ) {
	$defaults: (
		'tag': h3,
		'font': '%f_sans',
		'weight': $fw-sans-normal,
		'color': $mint-dark,
	);
	$args: map_merge($defaults, $settings);

	@include header($args);
}

@mixin h4( $settings:() ) {
	$defaults: (
		'tag': h4,
		'color': $blue-medium,
		'font': '%f_sans',
		'weight': $fw-sans-normal,
	);
	$args: map_merge($defaults, $settings);

	@include header($args);
	font-style: italic;
}

@mixin h_smalluppercase( $settings:() ) {
	$defaults: (
		'color': $purple-dark,
		'font': '%f_sans',
		'weight': $fw-sans-medium,
		'include_fz': true,
	);
	$args: map_merge($defaults, $settings);
	$include_font_size: map_get($args, include_fz);

	@include header($args);
	letter-spacing: 1.5px;
	text-transform: uppercase;

	@if (true == $include_font_size) {
		@include css_by_breakpoint((
			default: (
				font-size: scut-em(16),
			),
			medium: (
				font-size: scut-em(20),
			),
		));
	}
}

.h1 {
	@include h1((include_font_size: true));
}

.h2 {
	@include h2((include_font_size: true));
}

.h3 {
	@include h3((include_font_size: true));
}

.h4 {
	@include h4((include_font_size: true));
}